.home{
    display: flex;  
    flex-direction: column;
    padding: 146px;
    gap: 60px;

    & .container{
        display: flex;
        justify-content: space-between;
        
        & img{
            width: 560px;
            height: 400px;
        }
    }

    & .lado-esquerdo{
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        gap: 87px;

        & button{
            width: 170px;
            height: 40px;
            background-color: #9B0808;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    

}